services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    working_dir: /app
    networks:
      - app-network
    # Untuk development, tambahkan:
    # environment:
    #   - NODE_ENV=development
    #   - CHOKIDAR_USEPOLLING=true
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    #   - /app/.next

networks:
  app-network:
    driver: bridge
